{% extends 'base.html' %} {% block content %}
<div id="videoContainer">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement"></video>
</div>

<div class = 'video'>
    <img id="image">
</div>
<div class="message-box">
  <h2>Sala: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Enviar
    </button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };
</script>
<script>
    function capture(video, scaleFactor) {
        if(scaleFactor == null){
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        var canvas = document.createElement('canvas');
            canvas.width  = w;
            canvas.height = h;
        var ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, w, h);
        return canvas;
    } 

    var socket = io('http://localhost:5000');
    socket.on('connect', function(){
        console.log("Connection has been succesfully established with socket.", socket.connected)
    });
    const video = document.querySelector("#videoElement");
    video.width = 500; 
    video.height = 375; ;
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function (err0r) {
            console.log(err0r)
            console.log("Something went wrong!");
        });
    }
    const FPS = 22;
    setInterval(() => {
        var type = "image/jpg"
        var video_element = document.getElementById("videoElement")
        var frame = capture(video_element, 1)
        var data = frame.toDataURL(type);
        data = data.replace('data:' + type + ';base64,', '');
        socket.emit('image', data);
    }, 10000/FPS);


    socket.on('response_back', function(image){
        const image_id = document.getElementById('image');
        console.log(image)
        image_id.src = image;
    });
</script>
<script>
    // Função para posicionar a div de vídeo aleatoriamente na tela
    function randomizeVideoPosition() {
        var videoContainer = document.getElementById('videoContainer');

        // Altura e largura da janela do navegador
        var windowWidth = window.innerWidth;
        var windowHeight = window.innerHeight;

        // Gerar valores aleatórios para as posições top e left
        var randomTop = Math.floor(Math.random() * windowHeight);
        var randomLeft = Math.floor(Math.random() * windowWidth);

        // Definir o estilo CSS para a posição aleatória
        videoContainer.style.position = 'absolute';
        videoContainer.style.top = randomTop + 'px';
        videoContainer.style.left = randomLeft + 'px';
    }

    // Chama a função para posicionar a div de vídeo aleatoriamente na tela
    window.onload = function() {
        randomizeVideoPosition();
    };
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}